* {
  overflow: hidden;
}

html,
body {
  height: 100%;
}

body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a:active,
a:focus,
button:focus {
  outline: none;
}
.background{
  text-align: center;
  background-image: url('../assets/images/desktop.jpeg');
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: bottom;
}