.footer {
  font-family: $font-europa;
  grid-area: footer;
  font-size: 3vmin;
  text-transform: uppercase;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  // background-color: black;
  &__content {
    display: flex;
    justify-content: space-between;
    // padding-bottom: 4px;
    // border-bottom: 4px solid black;
    color: white;
  }
  &__item {
    display: flex;
    color: white;
    transition: 200ms opacity ease-in-out;
    text-decoration: none;
    &--frs {
      font-family: $font-logo;
    }
    a {
      cursor: pointer;
      svg {
        position: relative;
        height: 50%;
        &:active {
          bottom: 5px;
        }
      }
    }
  }
  &__button--fetch,
  button {
    text-transform: uppercase;

    cursor: pointer;
    // display: inline-block;
    color: white;
    padding: 0;
    text-align: right;
    background: none;
    border: none;
  }
}
