.quotes {
  font-family: $font-europa;

  grid-area: quote;

  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "quote-text ." "author-text author-text";
  &__content {
    // max-height: 60%;
    // max-width: 50%;
    grid-area: quote-text;
    > * {
      color: white;
      font-size: 5vmin;
      font-weight: 900;
      line-height: 3rem;
    }
  }
  &__title {
    // text-align: right;
    font-family: $font-logo;
    // margin: 0;
    color: white;
    // transform: rotate(-2deg);
    font-size: 6.5vmin;

    grid-area: author-text;
  }
  @include media("<=xsmall") {
    &__content > * {
      font-size: 4.5vmin;
      line-height: 2rem;
    }
  }
  @include media(">xsmall", "<=medium") {
    &__content > * {
      font-size: 4.5vmin;
      line-height: 3rem;
    }
  }
  @include media(">medium") {
  grid-template-areas: "quote-text ." "author-text .";

    &__content > * {
      font-size: 4.5vmin;
      line-height: 3.5rem;
    }
  }
}
